{
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "space-before-function-paren": [2, "never"]
  },
  "globals": {
    "after": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "chai": true,
    "describe": true,
    "expect": true,
    "it": true,
    "context": true
  }
}
